<div class="container bootstrap snippets bootdey">
    <div class="login">
        <h3 class="authTitle">User Management Portal SignUp</h3>
        <div class="row row-sm-offset-3">
            <div class="col-xs-12 col-sm-6 justigy-content-center">
                <form #registerForm="ngForm" (ngSubmit)="onRegister(registerForm.value)" action="" autocomplete="off" method="POST">

                    <div class="input-group pb-16">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" name="firstName" required ngModel #firstNameInput="ngModel" class="form-control" placeholder="First Name">
                    </div>
                    <div class="input-group pb-16">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" name="lastName" required ngModel #lastNameInput="ngModel" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="input-group pb-16">
                        <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                        <input type="text" name="username" required ngModel #usernameInput="ngModel" class="form-control" placeholder="Username">
                    </div>
                    <div class="input-group pb-16">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <input type="text" name="email" required ngModel #emailInput="ngModel" class="form-control" placeholder="Email">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <span>SignUp</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row row-sm-offset-3">
            <div class="col-xs-12 col-sm-4">
                <p class="forgotPwd">
                    <a routerLink="/login">Have an Account? <span>Login Now</span></a>
                </p>
            </div>
        </div>
    </div>
</div>