/* You can add global styles to this file, and also import other style files */
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css';
@import '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css';
@import 'node_modules/angular-notifier/styles';

.pb-16 {
    padding-bottom: 16px !important;
}

.pt-16 {
    padding-top: 16px !important;
}
.mt-1 {
    margin-top: 1em !important;
}

td {
    cursor: pointer;
}
.move-right {
    position: absolute;
    right: 0;
}
.move-left {
    position: absolute;
    left: 0;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.float-right {
    float: right !important;
}
.float-left {
    float: left !important;
}